{% extends "base.html" %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="caption post-detail-item">
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>
            <a class='like-btn' data-href='{{ obj.get_api_like_url }}' data-likes='{{ obj.likes.count }}'  href='{{ obj.get_like_url }}'>{{ obj.likes.count }} Like</a>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
</div>

{% endblock content %}